@model CRS.Web.ViewModels.Account.RequestResetPasswordViewModel

@using (Html.BeginForm())
{
    <p>Xin chào @Model.Username</p>
    
    <p>Bạn đã gửi yêu cầu khôi phục mật khẩu tại trang web <a href="http://www.Vuabep.vn/">Vuabep.vn</a><br />
    Hãy nhấn @Html.ActionLink("vào đây", "ResetPassword", "Account", null, new { href = Model.ResetPasswordLink}) để thay đổi lại mật khẩu của bạn.</p>
    <p>Thân<br />Ban quản trị Vuabep.vn</p>
}