@model CRS.Web.ViewModels.Account.RegisterViewModel
@Html.Partial("_Message")
@using (Html.BeginForm())
{
    <p>
        Xin chào @Model.Username</p>    
    
    <p>
        Chào mừng bạn đã tới <a href="http://www.Vuabep.vn/">Vuabep.vn</a></p>
    <p>
        Bạn đã dùng địa chỉ email này để đăng nhập vào hệ thống. Tài khoản của bạn trên
        Vuabep.vn đã được khởi tạo tương ứng.</p>
    <p>
        Chúc bạn có những phút giây vui vẻ tại trang web.<br />
        Ban quản trị Vuabep.vn</p>
}