<?xml version="1.0"?>
<appSettings>
  <!-- Default appSettings -->
  <add key="webpages:Version" value="1.0.0.0"/>
  <add key="ClientValidationEnabled" value="true"/>
  <add key="UnobtrusiveJavaScriptEnabled" value="true"/>

  <!-- Memory caching config-->
  <add key="PrincipalCacheMinutes" value="20"/>
  <add key="RoleCollectionCacheMinutes" value="60"/>
  <add key="TipCategoryCollectionCacheMinutes" value="60"/>
  <add key="TagCategoryCollectionCacheMinutes" value="60"/>
  <add key="CategoryCollectionCacheMinutes" value="60"/>
  <add key="AddressPartCollectionCacheMinutes" value="60"/>
  <add key="PermissionCollectionCacheMinutes" value="60"/>
  <add key="AddressPartPrefixCollectionCacheMinutes" value="60"/>
  <add key="FeaturedPlaceCollectionCacheMinutes" value="60"/>
  <add key="UserStateCollectionCacheMinutes" value="60"/>
  <add key="RevisionStateCollectionCacheMinutes" value="60"/>
  <add key="PointConfigCollectionCacheMinutes" value="60"/>
  <add key="TitleCollectionCacheMinutes" value="60"/>
  <add key="LocationCollectionCacheMinutes" value="60"/>
  <add key="RecipeSmallCategoryCollectionCacheMinutes" value="60"/>
  <add key="RecipeCategoryCollectionCacheMinutes" value="60"/>
  <add key="RecipeAllCategoryCollectionCacheMinutes" value="60"/>
  <!--This is important-->
  <!--CaptchaPass is any string.-->
  <!--CaptchaSalt is Base64String-->
  <!--*****************************************************-->
  <add key="CaptchaPass" value="Password"/>
  <add key="CaptchaSalt" value="ZHNmZ2JzZHJlZmR3YXRnc2Q="/>
  <!--*****************************************************-->
  <add key="AvatarFolderPath" value="~/Content/images/users/avatars/" />
  <!-- Folder to store place images. Must end with / -->
  <add key="ImagePath" value="~/Content/images/contents/" />
  <!-- Number of suggesttions when entering category or address -->
  <!-- Email address to send site's emails -->
  <add key="SiteEmail" value="no-reply@Vuabep.vn" />
  <!-- Number of login attempts allowed before the account is locked -->
  <add key="LoginAttemptsAllowed" value="10" />
  <!-- Number of minutes to lock an account that is entered incorrect password for many times-->
  <add key="LoginAttemptLockMinutes" value="20" />
  <!-- Number of all contents per page -->
  <add key="AllPageSize" value="10" />
  <!-- Number of news per page -->
  <add key="NewsPageSize" value="10" />
  <!-- Number of tips per page -->
  <add key="TipPageSize" value="10" />
  <!-- Number of recipes per page -->
  <add key="RecipePageSize" value="10" />
  <!-- Max size in Mb of uploaded images -->
  <add key="UploadImageMaxSize" value="4" />
  <!-- Max dimensions of thumbnail image, in format: [width]x[height], i.e. 200x150 -->
  <add key="ThumbnailImageMaxSize" value= "184x138" />
  <!-- Max dimensions of big image, in format: [width]x[height], i.e. 200x150 -->
  <add key="BigImageMaxSize" value= "600x450" />
  <!-- Min dimensions of image -->
  <add key="ImageMinSize" value="300" />
  <!-- Max dimensions of avatar thumbnail image, in format: [width]x[height], i.e. 200x150 -->
  <add key="UserAvatarThumbnailImageMaxSize" value="80x80" />
  <!-- Max dimensions of avatar big image, in format: [width]x[height], i.e. 200x150 -->
  <add key="UserAvatarBigImageMaxSize" value="200x200" />
  <!-- Number of questions per page -->
  <add key="QuestionsPageSize" value="20" />
  <!-- Number of answers per page -->
  <add key="AnswersPageSize" value="5" />
  <!-- Number of place comments per page -->
  <add key="CommentsPageSize" value="5" />
  <!-- Number of highlight answer-->
  <add key="HighlightAnswerNumber" value="2" />
  <!-- Number of highlight comment-->
  <add key="HighlightCommentNumber" value="2" />
  <!-- Page size for gird views on Admin pages -->
  <add key="DefaultAdminGridPageSize" value="20" />
  <!-- Default minimum number of reports to filter on manage spam pages -->
  <add key="MinReportNumber" value="1" />
  <!-- Number of categories on tag cloud -->
  <add key="TagCloudSize" value="50" />
  <!-- Email of admin -->
  <add key="AdminEmail" value="spykid325@yahoo.com" />
  <!-- Number of hot questions in month to display -->
  <add key="HotQuestionsInMonthNumber" value="10" />
  <!-- Number of top news to display -->
  <add key="TopNewsNumber" value="10" />
  <!-- Number of top tip to display -->
  <add key="TopTipNumber" value="10" />
  <!-- Number of top recipe to display -->
  <add key="TopRecipeNumber" value="10" />
  <!-- Number of top recipe by category to display -->
  <add key="TopRecipeByCategoryNumber" value="5" />
  <!-- Number of top mapped tip by category to display -->
  <add key="TopMappedTipByCategoryNumber" value="2" />
  <!-- Number of top tip by category to display -->
  <add key="TopTipByCategoryNumber" value="5" />
  <!-- Number of top answer contributors -->
  <add key="TopAnswerContributorNumber" value="10" />
  <!-- Number of top contributors -->
  <add key="TopContributorNumber" value="10" />
  <!-- Number of new questions to display on Index page-->
  <add key="NewQuestionNumber" value="10" />

</appSettings>
