@{
	ViewBag.Title = "Quên mật khẩu";
}

@using (Html.BeginForm())
{
	<div class="content-wrapper">
		<h1 class="title">
			Yêu cầu thành công</h1>
		<div class="boxbigcontent">
			<p>Chúng tôi đã gửi đường dẫn để khởi tạo mật khẩu mới tới địa chỉ Email của bạn. Vui lòng kiểm tra email và làm theo hướng dẫn.</p>
            <p>Chú ý: email có thể bị coi là thư rác, nên bạn vui lòng kiểm tra cả trong mục Spam của email.</p>
		</div>
	</div>
}