@model string

<div id="search-dropdown">
    <a href="javascript:void(0);" id="minisearch-category-title">Chọn danh mục </a>
    <div id="search-dropdown-container">
        <ul id="mini-search-content-type">
            <li>
                <div id="uniform-" class="radio">
                    <span>
                        <input name="categoryName" checked="checked" style="opacity: 0;" value="all" name="section" type="radio"></span></div>
                Tất cả </li>
            <li>
                <div id="uniform-" class="radio">
                    <span>
                        <input name="categoryName" style="opacity: 0;" value="news" name="section" type="radio"></span></div>
                Tin tức </li>
            <li>
                <div id="uniform-" class="radio">
                    <span>
                        <input name="categoryName" style="opacity: 0;" value="recipes" name="section" type="radio"></span></div>
                Công thức nấu ăn </li>
            <li>
                <div id="uniform-" class="radio">
                    <span>
                        <input name="categoryName" style="opacity: 0;" value="tips" name="section" type="radio"></span></div>
                Mẹo vặt </li>
        </ul>
    </div>
</div>
