<div id="header">
    <h1 id="logo">
        @Html.ActionLink("Vua bếp", "Index", "Home")
    </h1>
    <div class="region region-adsheader">
        <div id="block-ams_client-ams_client_zone_top_banner" class="block block-ams-client box">
            <div class="box-content">
                <div id="ams-block-10" class="ams_block_zone_top_banner ams-block">
                    <img width="728" height="90" src="@Url.Content("~/Content/images/main/banner.jpg")" alt="top banner" />
                    <img width="1" height="1" src="@Url.Content("~/Content/images/main/rest_003.gif")" style="display: none; width: 0px;
                        height: 0px;" title="" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("_HorizontalMenu")
