 <input id="openid_identifier" type="hidden" name="openid_identifier" />
    <div class="must-login-message">
        <p class="info-message">
            Bạn phải đăng nhập để sử dụng chức năng này</p>
        <div class="">
            <p>
                Đăng nhập bằng tài khoản Vuabep.vn, hãy nhấn @Html.ActionLink("vào đây", "Login", "Account", new { returnUrl = Request.Url.AbsolutePath }, null)</p>
            <p>
                Nếu bạn chưa có tài khoản, hãy đăng ký @Html.ActionLink("tại đây", "Register", "Account")</p>
        </div>
        <div class="clear">
        </div>
    </div>