@model CRS.Web.Models.ActionInfo
<a class="t-button t-button-icontext cancel" href="@Url.Action(Model.Action, Model.Controller, routeValues: new { id = Model.Id })">
    <span class="t-icon t-cancel"></span>@Model.Text</a>