<?xml version="1.0"?>
<loggingConfiguration tracingEnabled="true" defaultCategory="General">
  <listeners>
    <add name="Error Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="..\Logs\Error.log" formatter="Text Formatter" traceOutputOptions="None" filter="Error"/>
    <add name="General Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="..\Logs\General.log" formatter="Text Formatter" traceOutputOptions="Callstack"/>
  </listeners>
  <formatters>
    <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="Timestamp: {timestamp(local)}{newline}&#xA;Severity: {severity}{newline}&#xA;Message: {message}" name="Text Formatter"/>
  </formatters>
  <categorySources>
    <add switchValue="Error" name="Error">
      <listeners>
        <add name="Error Flat File Trace Listener"/>
      </listeners>
    </add>
    <add switchValue="All" name="General">
      <listeners>
        <add name="General Flat File Trace Listener"/>
      </listeners>
    </add>
  </categorySources>
  <specialSources>
    <allEvents switchValue="All" name="All Events"/>
    <notProcessed switchValue="All" name="Unprocessed Category"/>
    <errors switchValue="All" name="Logging Errors &amp; Warnings">
      <listeners>
        <add name="General Flat File Trace Listener"/>
      </listeners>
    </errors>
  </specialSources>
</loggingConfiguration>