@{
    ViewBag.Title = "Không tìm thấy trang bạn yêu cầu";
}
<div class="content-wrapper">
    <div class="error404-content">
        <h1>
            OOPS...
        </h1>
        <h2>
            Không tìm thấy trang bạn yêu cầu!
        </h2>
        <span>Hãy @Html.ActionLink("vào đây", "Index", "Home") để quay lại trang chủ ! </span>
    </div>
    <div class="error404-notification">
    </div>
</div>
