<div class="boxnav">
    <h2 class="title">
        Mẹo vặt mới cập nhật</h2>
    <div class="boxnavcontent">
        <div id="topviews">
            @Html.Action("TopTips", "Statistics")
        </div>
    </div>
</div>