@model CRS.Web.ViewModels.Tips.InsertTipViewModel
@{
    ViewBag.Title = "Sửa mẹo vặt";
}

@Html.Partial("_Message")
@if (!User.Identity.IsAuthenticated)
{
    <div class="content-wrapper">
        <h1 class="title">
            Lời nhắn từ Vuabep.vn</h1>
        <div class="boxfullcontent">
            @Html.Partial("_MustLoginMessage")
        </div>
    </div>
}
else if (Model != null)
{
    @Html.ValidationSummary(true, ValidationMessages.Summary)
<div class="section-headline">
    <div class="section-headline-content">
        <h2>
            Sửa mẹo vặt</h2>
    </div>
</div>
    @Html.Partial("_TipInputForm", Model)
}